HOST=localhost
PORT=5000

PGUSER=
PGPASSWORD=
PGDATABASE=
PGHOST=
PGPORT=

ACCESS_TOKEN_KEY=
REFRESH_TOKEN_KEY=

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# RabbitMQ Configuration
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

# Email Configuration
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=
MAIL_PASSWORD=
